DATABASE_URL="postgresql://postgres:postgres@localhost:5432/cursos_ebooks?schema=public"

PORT=4000
NODE_ENV=development

JWT_SECRET="cambia-este-valor-por-uno-aleatorio-largo"
JWT_EXPIRES_IN="7d"

FRONTEND_URL="http://localhost:5173"
